{{>nav}}
  <style>
    nav {
       /*margin: 0 0 2rem 0; /* Space out the Bootstrap <hr> more */
    }
    .no-seleccionable {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
    }
    @media(max-width: 1000px){
      .c-8{
        position: absolute;
      }
      footer{
        display: none;
      }
      .c1{
        width: 60%!important;
      }
      .col-2{
        display: none;
      }
      
    }
    @media(max-width: 700px){
      .c1{
        width: 100%!important;
      }
      .c2{
        width: 100%!important;
        
      }
      
    }

    @media(max-width: 360px){
      .c2{
        margin-top: 3rem;
      }
      #bingos{
        margin-right: 2rem;
      }
    }
    @media(max-width: 300px){
      .c2{
        margin-top: 5rem;
      }
    }    
  </style>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1" id="staticBackdropLabel">BINGO!!!</h5>
        {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> --}}
      </div>
      <div class="modal-body">
        <h1>
        Estamos revisando tu carton. Espera un momento
        </h1>
        <br>
        <br>
        <br>
        <div class="text-center mb-5">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1" id="staticBackdropLabel">BINGO!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>
        Felisidades, Ganaste!!!
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 1000001;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-1" id="staticBackdropLabel">BINGO!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h1>
           upps, parece que no 🤷‍♂️
        </h1>
      </div>
    </div>
  </div>
</div>

<nav class=" navbar navbar-expand-lg navbar-dark bg-primary py-2" style="position:sticky; top: 0; background-color: rgba(255,255,255,0.95); z-index: 1000000;" aria-current="true" aria-label="Secondary navigation">
  <div class="container">
      <div class="container">
        <div class="navbar-collapse" >
          <a class="navbar-brand" href="/play/play">A Jugar!!!</a>
          <div class="navbar-collapse justify-content-end">
            <div class="justify-content-end">
              <ul class="navbar-nav text-white justify-content-end">
                {{!-- <li class="nav-item mx-2">Serie : 1 </li> --}}
                <li class="nav-item mx-2">Premio : {{estado.premioJuego}} </li>
              </ul>

            </div>
        
          </div>
        </div>
      </div>
  </div>
</nav>


{{!-- <h1>{{in}}</h1> --}}
{{!-- <div class="position-absolute w-100 invi" style="height: 80%; z-index:1; cursor:default"></div> --}}

<div class="mt-3 row px-3 no-seleccionable c-8" style="position: relative;height: 70%;width: 100%;margin: 0;">
  <div class="col-2"></div>
  <div class="col-4 c1 container" style="position:relative;">
    <div class="row">
      <div class="col ratio ratio-1x1 card-img-top" >
        <table  class="table table-bordered border-primary" style="height: 100%; border:{{objinobj2 car 'serie' estado.serieJuego 'color'}} !important;">
        <tbody class="align-middle" style="text-align: center; font-size:24px; ">
        <tr>
          <td scope="col" style="background-color: {{objinobj2 car 'serie' estado.serieJuego 'color'}}; color:white; font-weight:bold">B</td>
          <td scope="col" style="background-color: {{objinobj2 car 'serie' estado.serieJuego 'color'}}; color:white; font-weight:bold">I</td>
          <td scope="col" style="background-color: {{objinobj2 car 'serie' estado.serieJuego 'color'}}; color:white; font-weight:bold">N</td>
          <td scope="col" style="background-color: {{objinobj2 car 'serie' estado.serieJuego 'color'}}; color:white; font-weight:bold">G</td>
          <td scope="col" style="background-color: {{objinobj2 car 'serie' estado.serieJuego 'color'}}; color:white; font-weight:bold">O</td>
        </tr>
        <tr>
          <td scope="col" class="num">1</td>
          <td scope="col" class="num">2</td>
          <td scope="col" class="num">3</td>
          <td scope="col" class="num">4</td>
          <td scope="col" class="num">5</td>
        </tr>
        <tr>
          <td class="num">6</td>
          <td class="num">7</td>
          <td class="num">8</td>
          <td class="num">9</td>
          <td class="num">10</td>
        </tr>
        <tr>
          <td class="num">11</td>
          <td class="num">12</td>
          <td class="num">X</td>
          <td class="num">13</td>
          <td class="num">14</td>
        </tr>
        <tr>
          <td class="num">15</td>
          <td class="num">16</td>
          <td class="num">17</td>
          <td class="num">18</td>
          <td class="num">19</td>
        </tr>
        <tr>
          <td class="num">20</td>
          <td class="num">21</td>
          <td class="num">22</td>
          <td class="num">23</td>
          <td class="num">24</td>
        </tr>
        
        </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-4 c2">
    <div class="row">
      <div class="col-4 mt-3">
            <div class="mt-4"></div>
        <button id="bingos" class="btn btn-warning btn-lg d-inline-block" style="">BINGO!!</button>
      </div>
      <div class="col-8 " style="margin-top: 1.3rem!important;">
        <div class="" style="text-align: center;">
          <nav aria-label="..." class="d-inline-block mx-3  ">
            <label for="">Mis cartones</label>
            <ul class="pagination mt-2" id="cartones" style="justify-content: center;">
              {{!-- <li class="page-item active" aria-current="page">
                <span class="page-link">1</span>
              </li> --}}
              {{!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link"  href="#">3</a></li> --}}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io()
socket.emit('soyUser')
var oe = [{{#each (deCartones in estado.serieJuego)}} [[{{array data 0}}],[{{array data 1}}],[{{array data 2}}],[{{array data 3}}],[{{array data 4}}]], {{/each}}]
let pag = 0
let colores = [[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0]]
jQuery.event.special.touchstart = {
    setup: function( _, ns, handle ) {
        this.addEventListener('MozTouchDown', handle, { passive: !ns.includes('noPreventDefault') });
    }
};
jQuery.event.special.touchmove = {
    setup: function( _, ns, handle ) {
        this.addEventListener('touchmove', handle, { passive: !ns.includes('noPreventDefault') });
    }
};
var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
  keyboard: false,
  backdrop: false
})
var myModal2 = new bootstrap.Modal(document.getElementById('staticBackdrop2'), {
  keyboard: false,
})
var myModal3 = new bootstrap.Modal(document.getElementById('staticBackdrop3'), {
  keyboard: false,
})

const press = (a)=>{
  //console.log('0')
  $('.num').off('mousedown touchstart', press)
  $('.num').on('mouseleave touchleave', leaven)
  $(document).on('mouseup touchend',unpress)
  //if(a.target.style.background === 'red'){
    //console.log('blnco')
  //a.target.style.background = 'white'
  //}else{
  //a.target.style.background = 'red'
  //}
}

const leaven = (a)=>{
  //console.log(a)
  $(a.target).off('mouseleave touchleave',leaven)
  if(a.target.style.background === '{{objinobj2 car 'serie' estado.serieJuego 'color'}}'){
    //console.log('blnco')
    colores[a.target.cellIndex][a.target.parentElement.rowIndex-1] = 0
    a.target.style.background = 'white'
    a.target.style.color = 'black'
  }else{
    colores[a.target.cellIndex][a.target.parentElement.rowIndex-1] = 1
    a.target.style.background = '{{objinobj2 car 'serie' estado.serieJuego 'color'}}'
    a.target.style.color = 'white'
  }
}

const unpress = (a)=>{
  if(a.target.classList[0] == 'num'){
    if(a.target.style.background === '{{objinobj2 car 'serie' estado.serieJuego 'color'}}'){
      //console.log('blnco')
      colores[a.target.cellIndex][a.target.parentElement.rowIndex-1] = 0
      a.target.style.background = 'white'
      a.target.style.color = 'black'
    }else{
      colores[a.target.cellIndex][a.target.parentElement.rowIndex-1] = 1
      a.target.style.background = '{{objinobj2 car 'serie' estado.serieJuego 'color'}}'
      a.target.style.color = 'white'
    }
  }

  $('.num').off('mouseleave touchleave', leaven)
  $('.num').on('mousedown touchstart', press)
  $(document).off('mouseup touchend',unpress)
}

$('.num').on('mousedown touchstart', press)
$('#bingos').click(()=>{
  console.log('djidjid')
  myModal.toggle()
  socket.emit('bingo!', oe[pag],'{{ user.nombre}} {{ user.apellido}}' );
})
socket.on('init', (o,e,a)=>{
    document.location.href = document.location.href
})
socket.on('genne',()=>{
  myModal.toggle()
  myModal2.toggle()
})
socket.on('nogenne',()=>{
  myModal.toggle()
  myModal3.toggle()
})
socket.on('mess',(message)=>{
  console.log(message)
})
socket.on('fine',()=>{
  sessionStorage.clear()
  document.location.href = document.location.href
})
  let corrida1 = [1,2,3,4,5]
  let n=15,m=5;
  function combinacion(n){
    for(let i = 0; i <= n; i++){
      if(i !== 0){
       hash()  
      }
    }
    console.log(corrida1)
  }
  function destructuracion(n1,n2,n3,n4,n5){
    let f = false
    for(let i = 0; i <= 3003; i++){
      if(corrida1[0] == n1 && corrida1[1] == n2 && corrida1[2] == n3, corrida1[3] == n4 && corrida1[4] == n5){
       console.log(i)
       break;
      }else{
        hash()
      }
    }
    console.log(corrida1)
  }
  function hash(){
    if(corrida1[4] < n-m+(m)){
      corrida1[4] = corrida1[4] + 1
      //console.log('i=5 (+1)', corrida1)
    }else if(corrida1[3] < n-m+(m-1)){
      corrida1[3] = corrida1[3] + 1
      corrida1[4] = corrida1[3] + 1
      //console.log('i=4 (+1)', corrida1)
    }else if(corrida1[2] < n-m+(m-2)){
      corrida1[2] = corrida1[2] + 1
      corrida1[3] = corrida1[2] + 1
      corrida1[4] = corrida1[3] + 1
      //console.log('i=3 (+1)', corrida1)
    }else if(corrida1[1] < n-m+(m-3)){
      corrida1[1] = corrida1[1] + 1
      corrida1[2] = corrida1[1] + 1
      corrida1[3] = corrida1[2] + 1
      corrida1[4] = corrida1[3] + 1
      //console.log('i=2 (+1)', corrida1)
    }else if(corrida1[0] < n-m+(m-4)){
      corrida1[0] = corrida1[0] + 1
      corrida1[1] = corrida1[0] + 1
      corrida1[2] = corrida1[1] + 1
      corrida1[3] = corrida1[2] + 1
      corrida1[4] = corrida1[3] + 1
      //console.log('i=1 (+1)', corrida1)
    }
  }
  function generar(){
    let devolver = [[0,0,0,0,0],[0,0,0,0,0],[0,0,76,0,0],[0,0,0,0,0],[0,0,0,0,0]]
    for(let i = 0; i <= 4; i++){
      for(let e = 0; e <= 4; e++){
        if(devolver[i][e] === 76){
          devolver[i][e] = 'X'
        }else{
          let wi = true
          let o
          let p
          while(wi){
            switch(i){
              case 0 :
                o = (Math.round((Math.random()*15)/1))
                p = compare(devolver, o)
                if(!p){
                  devolver[i][e] = o
                  wi = false
                }
                break;
              case 1 :
                o = (Math.round((Math.random()*15)/1) + 15)
                p = compare(devolver, o)
                if(!p){
                  devolver[i][e] = o
                  wi = false
                }
                break;
              case 2 :
                o = (Math.round((Math.random()*15)/1) +30)
                p = compare(devolver, o)
                if(!p){
                  devolver[i][e] = o
                  wi = false
                }
                break;
              case 3 :
                o = (Math.round((Math.random()*15)/1) + 45)
                p = compare(devolver, o)
                if(!p){
                  devolver[i][e] = o
                  wi = false
                }
                break;
              case 4 :
                o = (Math.round((Math.random()*15)/1) + 60)
                p = compare(devolver, o)
                if(!p){
                  devolver[i][e] = o
                  wi = false
                }
                break;
            }
          }
        }

      }
    }
    return devolver
    //return [[Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1)],[Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1)],[Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),'X',Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1)],[Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1)],[Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1),Math.round((Math.random()*75)/1)]]
  }
  function compare(arrayDe, num){
    let o = false
    for(let i = 0; i <= 4; i++){
      if (o === true) { break; }
      for(let e = 0; e <= 4; e++){
        if(arrayDe[i][e] === num){
          console.log(arrayDe[i][e] === num)
          console.log('numero repetido')
          o = true
        }
      }
    }
    return o
  }
  function print(o,data2){
    //console.log(o[0])
    
    for(let i = 1; i<=5; i++){
      for(let e = 0; e<=4; e++){
        document.querySelectorAll('tr')[i].children[e].style.background = 'white'
        if(o[e][i-1] == 0){
          document.querySelectorAll('tr')[i].children[e].innerText = 'X'
        }else{
          document.querySelectorAll('tr')[i].children[e].innerText = o[e][i-1]
          //console.log(o[e][i-1], data2[e][i-1])
          if(data2[e][i-1] == '1'){
            document.querySelectorAll('tr')[i].children[e].style.background = '{{objinobj2 car 'serie' estado.serieJuego 'color'}}';
          }
        }
        //console.log(o[i][e]) 
      } 
    }
  }

  function cambio(n,owo){
    if (!owo){
      sessionStorage.setItem(pag,`[[${colores[0]}],[${colores[1]}],[${colores[2]}],[${colores[3]}],[${colores[4]}]]`)
    }
    pag = n
    $('#cartones')[0].innerHTML = ''
    oe.map((e,o)=>{
      if(pag == o){
        $('#cartones')[0].innerHTML += `
          <li class="page-item active" aria-current="page"><span class="page-link">${o+1}</span></li>
        `
      }else{
        $('#cartones')[0].innerHTML += `
          <li class="page-item"><button class="page-link"  onclick="cambio(${o})">${o+1}</button></li>
        `
      }
    })
    
    print(oe[n], sessionStorage.getItem(n) ? obtener(sessionStorage.getItem(n)) : obtener('[[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0]]'))
  }
  function obtener(o){
    console.log(o == '[[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0]]')
    let res = []
    for(let i = 1; i <=5; i++){
      if(i == 1){
        res.push(o.slice(2,11).split(","))
        colores[0]  = o.slice(2,11).split(",")
      }else if (i == 2){
        res.push(o.slice(14,23).split(","))
        colores[1]  = o.slice(14,23).split(",")
      }else if (i == 3){
        res.push(o.slice(26,35).split(","))
        colores[2]  = o.slice(26,35).split(",")
      }else if (i == 4){
        res.push(o.slice(38,47).split(","))
        colores[3]  = o.slice(38,47).split(",")
      }else if (i == 5){
        res.push(o.slice(50,59).split(","))
        colores[4]  = o.slice(50,59).split(",")
      }
    }
    console.log(colores)
    return res
  }
  cambio(0, true)
</script>

<footer class="container pb-5" style="postion:relative; bottom: 0;">
    <p class="float-end"><a href="/juego">Volver a atrás</a></p>
    <p>Nesesitas ayuda? · <a href="/contact">has click aquí!</a> · <a href="/info">Info</a></p>
  </footer>