<style>
  @media (max-width: 570px) {
    table{font-size: 14px!important;}
    footer{font-size: 10px!important;
      padding-bottom: 1rem;
    }
     button{
      width: 2.5rem!important; height:2.5rem!important; font-size:20px!important;
    }
    .m-4{
      margin: 1rem 4rem 1rem 4rem!important;
    }
  }
</style>

<div class="bg-dark">
<div class="container py-5">

  <div class="position-relative m-4">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 3rem; height:3rem; font-size:25px"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">1</button>
  <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 3rem; height:3rem; font-size:25px">2</button>
  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 3rem; height:3rem; font-size:25px">3</button>
  </div>

</div>
</div>
<div>
  <div class="container">
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">2. Pago - Transferencia </h1>
        <h1 class="fw-normal">Monto a transferir: ${{nume monto}}</h1>
        
        <h1>Nuestro datos bancarios</h1>
        <ul class="list-group" style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text; ">
          <li class="list-group-item">Cuenta Corriente N째: 97-27818-00</li>
          <li class="list-group-item">Rut 65.085.006-8</li>
          <li class="list-group-item">Banco Scotiabank</li>
          <li class="list-group-item">Corrreo: fundacioncmariapolis@gmail.com</li>
          <li class="list-group-item">Titular: Fundaci처n Centro de Espiritualidad Mariapolis</li>
        </ul>
        
        {{!-- <form action="/pagar/transferencia?m={{monto}}&p={{obj pedido}}" enctype="multipart/form-data" method="post">
          <div class="container mt-5">
            <label class="fs-3 fw-light">Comprobante (imagen)</label>
            <input type="file" accept="image/*" name="comprobante" id="inputEmail" class="form-control mt-2" placeholder="" required="" autocomplete="address-level1">
            <button type="submit" class="btn btn-warning mt-4">Enviar</button>
          </div>
        </form> --}}

        <h1 class="fw-normal mt-5">Tu codigo de referencia es </h1>
        <p>este debes copiarlo y pegarlo en el siguiente formulario</p>
        <ul class="list-group" style="-webkit-user-select: text;-moz-user-select: text;-ms-user-select: text;user-select: text; ">
          <li class="list-group-item" id="ids">45934985734987</li>
        </ul>

        <a href="https://forms.gle/RLAU7RCCaGwZXfNz8" target="_blank" class="btn btn-warning mt-4" onclick="initPay()">Iniciar Pago</a>
        <p class="mt-2">Haz click en este bot처n para ir al formulario de confirmacion de tu transacci처n</p>
      </div>
    </div>
  </section>
  </div>
</div>


<form action="/pagar/transferencia?m={{monto}}&p={{obj pedido}}" method="post" styles="display:none">
  <button type="submit" id="sum"></button>
</form>

<script>
  $('#ids')[0].innerText = '{{user._id}}'.slice(-8)
  function initPay(){
    document.querySelector('#sum').click()
  }
</script>